@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', serif !important;
}

.selected {
    color: white;
}
.unselected {
    color: black;
}

.page-title{
    color: #343A40;
    font-weight: 1000 !important;
}