@import "./root.css";

/* 
    --user-color-template-1: #091540;
    --user-color-template-2: #F8F7F9;
*/

.border-half {
    position: relative;
}

.bg-jumbotron {
    background-color: var(--user-color-template-1) !important;
    color: var(--user-color-template-2);
}

.border-half::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    border-bottom: 1px solid skyblue;
}

.image-about-me {
    max-width: 100%;
}

.kategori-card {
    cursor: pointer;
    transition: transform .2s;
    text-decoration: none;
}

.kategori-card:hover {
    transform: scale(1.2);
    z-index: 99;
}

.borderless {
    border: none;
}

.tata-cara-pemesanan {
    color: var(--user-color-template-2);
}

.tata-cara-pemesanan .card {
    background-color: transparent;
    color: var(--user-color-template-2);
}

.circle {
    width: 10vh;
    height: 10vh;
    background-color: skyblue;
    border-radius: 50%;
    font-size: large;
}

.invoice-thead {
    background-color: var(--user-color-template-1);
    color: var(--user-color-template-2);
}

.invoice-tbody {
    color: var(--user-color-template-1);
}

@media (max-width: 525px) {
    .border-half {
        justify-content: center !important;
    }

    .tentang-kami .content {
        display: block !important;
        /* background-color: blue; */
    }

    .tentang-kami .content .text-center {
        margin-top: 20px;
    }

    .jumbotron-custom {
        margin-bottom: 20px !important;
    }
}

@media (max-width: 1000px) {
    .border-half {
        justify-content: center !important;
    }

    .tentang-kami .content .text-center {
        margin-top: 20px;
    }

    .jumbotron-custom {
        margin-bottom: 30px !important;
    }
}