@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --user-color-template-1: #091540;
    --user-color-template-2: #F8F7F9;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--user-color-template-2);
}

.bg-navigation{
    background-color: var(--user-color-template-1);
    color: var(--user-color-template-2) !important;
}

.navbar-brand {
    color: var(--user-color-template-2) !important;
}

.nav-link{
    color: var(--user-color-template-2) !important;
}