@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.custom-sidebar {
  font-family: 'Poppins', sans-serif;
  background-color: #343A40;
  color: #ECECED;
  font-weight: 500;
}

.dropdown-item-custom {
  background-color: #343A40 !important;
  color: #EBECEC !important;
  transition: ease 0.5s;
  padding-left: 3vh !important;
  border: none !important;
}

.dropdown-item-custom:hover {
  background-color: #ebecece8 !important;
  color: #53585D  !important;
}

.dropdown-item-custom-active {
  background-color: #EBECEC !important;
  color: #53585D !important;
  padding-left: 3vh !important;
  border: none !important;
}

.dropdown-arrow {
  transition:.5s;
}

.collapse-icon-rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}