<%- include('include/header-doc') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <%- include('include/navigation') %>
    <header class="d-flex flex-column justify-content-center my-4 p-4">
        <div class="d-flex justify-content-center">
            <h4>Invoice</h4>
        </div>
    </header>
    <div class="container invoice">
        <table class="table table-striped">
            <thead class="invoice-thead">
              <tr class="text-center">
                <th scope="col">No</th>
                <th scope="col">Id Invoice</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Total Belanja</th>
                <th scope="col">Status</th>
                <th scope="col">Bukti Bayar</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody class="invoice-tbody">
              <tr class="text-center">
                <td>1</td>
                <td>asxsdcqf213asxawe</td>
                <td>1 Juli 2023</td>
                <td>Rp. 23.000</td>
                <td>Lunas</td>
                <td><a href="#">Bukti Bayar 1</a></td>
                <td>
                    <a href="#" class="btn btn-outline-success" onclick="addDataToModal()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Details</a>
                </td>
              </tr>
              <tr class="text-center">
                <td>2</td>
                <td>asxsdcqf213asxawe</td>
                <td>12 Juli 2023</td>
                <td>Rp. 23.000</td>
                <td>Lunas</td>
                <td><a href="#">Bukti Bayar 2</a></td>
                <td>
                    <a href="#" class="btn btn-outline-success" onclick="addDataToModal()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Details</a>
                </td>
              </tr>
              <tr class="text-center">
                <td>3</td>
                <td>asxsdcqf213asxawe</td>
                <td>11 Juli 2023</td>
                <td>Rp. 23.000</td>
                <td>Belum Bayar</td>
                <!-- <td><a href="#" class="btn btn-outline-primary">Upload Bukti</a></td> -->
                <td>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Upload Bukti
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Bukti Bayar</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                             <form action="">
                                <div class="mb-3 text-start">
                                    <label for="formFile" class="form-label">Masukkan Bukti Bayar</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                             </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="#" class="btn btn-outline-success" onclick="addDataToModal()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Details</a>
                </td>
              </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Invoice</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Tanggal Pembelian : 17 July 2023</p>
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">No</th>
                              <th scope="col">Nama Barang</th>
                              <th scope="col">Jumlah</th>
                              <th scope="col">Sub total</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            <tr>
                              <th scope="row">1</th>
                              <td>Bata Merah</td>
                              <td>20</td>
                              <td>Rp. 40000</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>PVC Pipa</td>
                              <td>20</td>
                              <td>Rp. 40000</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Palu</td>
                              <td>20</td>
                              <td>Rp. 40000</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-center">Total</td>
                                <td>Rp. 40000</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script>
        function addDataToModal() {

        }
    </script>
<%- include('include/footer') %>
<%- include('include/footer-doc') %>
